body{
    background-image: url("BG.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.TopLeft{
    position: absolute;
    top: 0;
    left: 50px;
    color: #fff;
    font-family: "consolas";
    font-weight: bold;
}
.TopMiddleLeft{
    position: absolute;
    top: 0;
    left: 25%;
    color: #fff;
}
.TopMiddleMid{
    position: absolute;
    top: 0;
    left: 45%;
    color: #fff;
}
.TopMiddleRight{
    position: absolute;
    top: 0;
    left: 65%;
    color: #fff;
}


.dropdown{
 position: absolute;
 top: 2.5%;
 right: 5%;

}
.dropdownbtn{
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    font-family: "consolas";
}

.dropdowncontent{
    color: #fff;
    display: none;

}

.dropdown:hover .dropdowncontent {display: block;}
.dropdown:hover .dropdownbtn {background-color: lightgray;}

.dropdowncontent a{
    color: #fff;
    display: block;

}

.BottomLeft{
    position: absolute;
    bottom: 0;
    left: 5px;
    color: #fff;
    font-family: "consolas";
    font-weight: bold;
}

.errorBdy{
    color: white;
    background-image: url("BG.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.errorA{
    opacity: 100%;
    position: absolute;
    top: 25%;
    right: 35%;
    left: 35%;
}
.errorB{
    opacity: 75%;
    position: absolute;
    top: 35%;
    right: 35%;
    left: 35%;
}
.errorC{
    opacity: 50%;
    position: absolute;
    top: 45%;
    right: 35%;
    left: 35%;
}
.pnf{
    opacity: 25%;
    position: absolute;
    top: 55%;
    right: 32.5%;
    left: 32.5%;
}

.back{
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 40%;
}